.App-header{
  height: 5vh;
  display: grid;
  box-shadow: 0px 1px 1px blue;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.btnmodefirst{
  background-color: rgb(0, 8, 255);
  padding:3px 6px;
  border-radius: 5px;
  border: 2px solid blue;
  color: white;
  height: 25px;
  width: 50px;
  font-size: 11px;
}
.btnmodeSecond{
  background-color: rgb(0, 8, 255);
  padding:3px 6px;
  border-radius: 5px;
  border: 2px solid blue;
  color: white;
  height: 25px;
  width: 50px;
  font-size: 11px;
}
.btnmodeSecond{
    background-color: rgb(255, 255, 255);
  padding:3px 6px;
  border-radius: 5px;
  border: 1px solid blue;
  color: rgb(0, 30, 255);
  height: 23px;
  width: 50px;
  margin: 1px;
  font-size: 10px;
}

.appsideBar{
height: 100vh;
position: absolute;
right: 0;
left: 0;
top: 40px;
display: grid;
grid-template-columns: 1fr 3fr 1fr;


}

.bnt-Ticket{
  background-color: blue;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  color: white;
  border: 1px solid;

}

.form-modal{
  height: 100%;
  background-color: rgb(185, 182, 189);
}














